
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.env
.venv/
venv/
ENV/
env/

*.o
*.out
*.exe
*.class
*.a
*.la
*.lo
*.obj
*.gch


input.txt
output.txt
*.in
*.ans
*.log


.vscode/
.idea/
*.iml

.DS_Store
Thumbs.db

*.stackdump
core
